.legend-container {
    position: absolute;
    bottom: 45px;
    right: 30px;
    left: 30px;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px;
    border-radius: 5px;
    max-height: 300px;
    overflow-y: auto;
    width: 220px;
    z-index: 1000;
    display: none;
    font-size: 12px;
    font-family: "Noto Sans Regular", sans-serif;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.legend-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    cursor: pointer;
    border-bottom: 1px solid #666;
    padding-bottom: 5px;
}

.legend-title {
    font-weight: bold;
    font-size: 14px;
}

.legend-toggle-icon {
    font-size: 12px;
}

.legend-container::-webkit-scrollbar {
    width: 6px;
}

.legend-container::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 3px;
}

.legend-container::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 3px;
}

.legend-container::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.5);
}